<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <h1>Reset Password</h1>
    <p>Password must contain at least 1 letter, 1 digit, 1 special character and must be 8 characters or longer</p>
    <hr>
    <form method="POST">
      <input type="text" name="password1"><br>
      <label for="username">Confirm New Password: </label><br>
      <input type="text" name="password2"><br>
      <input type="submit" value="Change Password">
    </form>
  </body>
</html>

